{% extends 'app/layout.html' %}
{% load static %}

<!-- idea is to display the data and give the choice to select songs to be added -->
{% block body %}
    <div class="container add-to-playlist">
        <h3 class="heading">Add songs to playlist</h3>
        <form id="recently-add-form" action="{% url 'add' type=type %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="playlist-type" value="create" id="playlist-id">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="text-muted">#</th>
                        <th class="text-muted">Title</th>
                        <th class="text-muted">Artist</th>
                        <th class="text-muted mobile-hidden">Album</th>
                    </tr>
                </thead>
                {% for track in tracks %}
                    <tbody>
                    <tr>
                        <th scope="row">
                            <input name="track_id" value="{{ track.id }}" type="checkbox" checked>
                        </th>
                        <td>{{ track.name }}</td>
                        <td>
                            {% for artist in track.artists %}
                                {% if not forloop.first %}
                                    <span>, </span>
                                {% endif %}
                                <span>{{ artist.name }}</span>
                            {% endfor %}
                        </td>
                        <td class="mobile-hidden">{{ track.album.name }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div class="show-more"><a href="{% url 'show_more' type=type limit=tracks|length %}">Show More</a></div>
            <button type="button" id="reveal-playlists" class="btn btn-md spotify-btn">
                <i class="fab fa-spotify"></i>
                Add to Playlist
            </button>
            <div class="user-playlists">
                <h5>Which one?</h5>
                <button type="button" class="btn btn-md spotify-btn" id="new-playlist">New Playlist</button>
                <div id="create-playlist-input">
                    <input type="text" name="new-playlist-name" class="text-input" placeholder="Playlist Name">
                    <button class="btn btn-sm spotify-btn">Create</button>
                </div>
                <p class="text-muted">or add to an existing one..</p>
                <div class="row">
                    {% for playlist in playlists.items %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row playlist-block">
                                <div class="col-8">
                                    <img src="{{ playlist.images.1.url }}">
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div>{{ playlist.name }}</div>
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-sm spotify-btn playlist-add-btn" id="{{ playlist.id }}">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>                    
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'app/add.js' %}"></script>
{% endblock %}