{% extends 'app/layout.html' %}

{% block body %}
    <div class="landing">
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center intro" style="height: 800px;">
                <div class="p-2 bd-highlight">
                    <img id="profile-image" src="{{ info.images.0.url }}" alt="profile-image">
                </div>
                <div class="p-2 bd-highlight">
                    <h3>Hello {{ info.display_name }}!</h3>
                </div>
                <div class="p-2 bd-highlight">
                    <button class="btn btn-lg spotify-btn">
                        <i class="fab fa-spotify"></i>
                        <a href="/sign_out">Logout</a>
                    </button>
                </div>
                <div>
                    <i class="fas fa-chevron-down text-muted"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="rest-of-the-page">
        <div class="container">
            <div class="recently_played">
                <div class="heading">
                    <span class="h1">Recently Played</span>
                </div>
                <hr>
                <table class="table table-borderless">
                    <tbody>
                        {% for track in tracks %}
                            <tr>
                                <td>
                                    <img src="{{ track.track.album.images.1.url }}" />
                                </td>
                                <td>
                                    <h5 class="track-name">{{ track.track.name }}</h5>
                                    <p class="text-muted">
                                        {% for artist in track.track.artists %}
                                            {% if not forloop.first %}
                                                <span>, </span>
                                            {% endif %}
                                            <span>{{ artist.name }}</span>
                                        {% endfor %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="show-more"><a href="/more">Show More</a></div>
                <button class="btn btn-md spotify-btn">
                    <i class="fab fa-spotify"></i>
                    <a href="/add">Add to playlist</a>
                </button>
            </div>        
        </div>
    </div>
{% endblock %}