{% extends 'app/layout.html' %}
{% load static %}

{% block body %}
    <div class="landing">
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center intro" style="height: 750px;">
                <div class="p-2 bd-highlight">
                    {% if info.images.0.url %}
                        <img id="profile-image" src="{{ info.images.0.url }}" alt="profile-image">
                    {% else %}
                    <img id="profile-image" src="{% static 'app/profile.jpg' %}" alt="profile-image">
                    {% endif %}
                </div>
                <div class="p-2 bd-highlight">
                    <h4>Hello {{ info.display_name }}!</h4>
                </div>
                <div class="p-2 bd-highlight">
                    <button class="btn btn-md spotify-btn">
                        <i class="fab fa-spotify"></i>
                        <a href="{% url 'sign_out' %}">Logout</a>
                    </button>
                </div>
                <div class="text-muted text-small" style="margin-top: 40px;">Swipe down</div>
                <div>
                    <i class="fas fa-chevron-down text-muted"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="rest-of-the-page">
        <div class="container">
            <div class="recently_played" id="recently_played">
                <div class="heading">
                    <span class="h3">Recently Played</span>
                </div>
                <hr>
                <table class="table table-borderless">
                    <tbody>
                        {% for track in recently_played %}
                            <tr>
                                <td>
                                    <img src="{{ track.track.album.images.1.url }}" />
                                </td>
                                <td>
                                    <h5 class="track-name">{{ track.track.name }}</h5>
                                    <p class="text-muted">
                                        {% for artist in track.track.artists %}
                                            {% if not forloop.first %}
                                                <span>, </span>
                                            {% endif %}
                                            <span>{{ artist.name }}</span>
                                        {% endfor %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="show-more"><a href="{% url 'show_more' type='recent' limit=5 %}">Show More</a></div>
                <button class="btn btn-md spotify-btn">
                    <i class="fab fa-spotify"></i>
                    <a href="{% url 'add' type='recent' %}">Add to playlist</a>
                </button>
            </div>        
        </div>
        <div class="container">
            <div class="recently_played" id="liked_tracks">
                <div class="heading">
                    <span class="h3">Your Liked Tracks</span>
                </div>
                <hr>
                <table class="table table-borderless">
                    <tbody>
                        {% for track in liked_tracks %}
                            <tr>
                                <td>
                                    <img src="{{ track.track.album.images.1.url }}" />
                                </td>
                                <td>
                                    <h5 class="track-name">{{ track.track.name }}</h5>
                                    <p class="text-muted">
                                        {% for artist in track.track.artists %}
                                            {% if not forloop.first %}
                                                <span>, </span>
                                            {% endif %}
                                            <span>{{ artist.name }}</span>
                                        {% endfor %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="show-more"><a href="{% url 'show_more' type='liked' limit=5 %}">Show More</a></div>
                <button class="btn btn-md spotify-btn">
                    <i class="fab fa-spotify"></i>
                    <a href="{% url 'add' type='liked' %}">Add to playlist</a>
                </button>
            </div>        
        </div>
    </div>
{% endblock %}