{% extends 'app/layout.html' %}
{% load static %}

{% block body %}
    <div class="landing">
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center intro" style="height: 750px;">
                <div class="p-2 bd-highlight">
                    {% if info.images.0.url %}
                        <img id="profile-image" src="{{ info.images.0.url }}" alt="profile-image">
                    {% else %}
                    <img id="profile-image" src="{% static 'app/profile.jpg' %}" alt="profile-image">
                    {% endif %}
                </div>
                <div class="p-2 bd-highlight">
                    <h4>Hello {{ info.display_name }}!</h4>
                </div>
                <div class="p-2 bd-highlight">
                    <button class="btn btn-md spotify-btn">
                        <i class="fab fa-spotify"></i>
                        <a href="{% url 'sign_out' %}">Logout</a>
                    </button>
                </div>
                <div class="text-muted text-small" style="margin-top: 40px;">Swipe down</div>
                <div>
                    <i class="fas fa-chevron-down text-muted"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container your_taste">
        {% for best, header in best_of_all %}
            <div class="best-singles">
                <p class="header">{{ header }}</p>
                <img src="{{ best.album.images.0.url }}">
                <h4>{{ best.name }}</h4>
                <p>
                    {% for artist in best.artists %}
                        {% if not forloop.first %}
                            <span>, </span>
                        {% endif %}
                        <span>{{ artist.name }}</span>
                    {% endfor %}
                </p>
                <div>
                    <button class="btn btn-md spotify-btn">
                        <i class="fab fa-spotify"></i>
                        <a href="{{ best.external_urls.spotify }}" target="_blank">Play On Spotify</a>
                    </button>
                </div>
            </div>
        {% endfor %}
        {% for tracks, header, type in top5s %}
            <div class="top5s">
                <p class="h3 heading">{{ header }}</p>
                <table class="table table-borderless">
                    <tbody>
                    {% for track in tracks %}
                    <div class="col-sm-6 col-lg-4 col-md-6">
                        <tr>
                            <td>
                                <img src="{{ track.album.images.1.url }}" />
                            </td>
                            <td>
                                <h5 class="track-name">{{ track.name }}</h5>
                                <p class="text-muted">
                                    {% for artist in track.artists %}
                                        {% if not forloop.first %}
                                            <span>, </span>
                                        {% endif %}
                                        <span>{{ artist.name }}</span>
                                    {% endfor %}
                                </p>
                            </td>
                        </tr>
                    </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="show-more"><a href="{% url 'show_more' type=type limit=5 %}">Show More</a></div>
            <button class="btn btn-md spotify-btn">
                <i class="fab fa-spotify"></i>
                <a href="{% url 'add' type=type %}">Add to playlist</a>
            </button>
        {% endfor %}
        <div class="top-artists top5s">
            <p class="h3 heading">Your Top 10 Artists</p>
            <table class="table table-borderless">
                <tbody>
                {% for artist in top_artists %}
                    <div class="col-sm-6 col-lg-4 col-md-6">
                        <tr>
                            <td><img src="{{ artist.images.1.url }}" /></td>
                            <td>
                                <h5 class="artist-name">{{ artist.name }}</h5>
                                <div>Followers: {{ artist.followers.total }}</div>
                                <p class="text-muted text-small">
                                    {% for genre in artist.genres|slice:":4" %}
                                        {% if not forloop.first %}
                                            <span>, </span>
                                        {% endif %}
                                        <span>{{ genre }}</span>
                                    {% endfor %}
                                </p>
                            </td>
                        </tr>
                    </div>
                {% endfor %}
                </tbody>
           </table>
        </div>
        <div class="top5s">
            <p class="h3 heading">Your top 5 Genres</p>
            {% for genre in genres %}
                <h2 style="font-weight: 900">{{ genre }}</h2>
            {% endfor %}
        </div>
        <div class="footer-nav">
            <h5>You can also:</h5>
            <div>
                <div>
                    <a href="{% url 'playlist' %}" class="show-more">Make playlists </a>
                    <span class="text-small text-muted">
                        (Don't worry, it's easy!)
                    </span>
                </div>
                <div>
                    <a href="{% url 'edit' %}" class="show-more">Remove Songs from playlists </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}