{% extends 'app/layout.html' %}

{% block body %}
    <div class="landing">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <h1>Playlistd</h1>
                <div>
                    <button class="btn btn-md spotify-btn">
                        <i class="fab fa-spotify"></i>
                        <a href="{{ auth_url }}">Sign In</a>
                    </button>
                </div>
                
            </div>
        </div>
    </div>  
{% endblock %}

