{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/1529df7cf5.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    </head>
    <body id="body">
        <header>
            {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
            {% endif %}
        </header>

        <main id="main-container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{% url 'index' %}">Playlistd</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Make Playlist
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% playlist 'playlist' 'recently_played' %}">Recently Played</a>
                          <a class="dropdown-item" href="{% playlist 'playlist' 'liked_tracks' %}">Liked Songs</a>
                        </div>
                      </li>
                    <a class="nav-link" href="{% url 'edit' %}">Edit Playlists</a>
                  </div>
                </div>
            </nav>
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            <p>
                <p>Created by </p>
                <h5>Palash Raghuwanshi</h5>
            </p>
            <div>Say Hi</div>
            <div class="icons">
                <span><a href="https://www.instagram.com/raghu_palash/" target="_blank"><i class="fa fa-instagram"></i></a></span>
                <span><a href="https://github.com/raghupalash" target="_blank"><i class="fa fa-github"></i></a></span>
                <span><a href="https://twitter.com/raghu_palash01" target="_blank"><i class="fa fa-twitter"></i></a></i></span>
            </div>
            <p>A<a href="https://cs50.harvard.edu/web/2020/" target="_blank"> CS50 Web </a>Final Project</p>
        </footer>
        {% block script %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>